.competencies__header {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
}

.competencies__list-header {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;

    color: #1BFF07;
}

.competencies__box-phone {
    width: 651px;
}

.competencies__list-text {
    margin-bottom: 60px;
    width: 778px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
}

.competencies__list-header:before {
    content: '';
    margin-bottom: 12px;
    display: block;
    width: 45px;
    height: 44px;
    background-image: url(../resources/competencies/box.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.competencies__box-html:before {
    content: '';
    margin-bottom: 12px;
    display: block;
    width: 45px;
    height: 44px;
    background-image: url(../resources/competencies/box-html.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.competencies__box-js:before {
    content: '';
    margin-bottom: 16px;
    display: block;
    width: 45px;
    height: 44px;
    background-image: url(../resources/competencies/box-js.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.competencies__box-react:before {
    content: '';
    margin-bottom: 16px;
    display: block;
    width: 45px;
    height: 44px;
    background-image: url(../resources/competencies/box-react.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.competencies__box-phone:before {
    content: '';
    margin-bottom: 16px;
    display: block;
    width: 45px;
    height: 44px;
    background-image: url(../resources/competencies/box-phone.png);
    background-size: cover;
    background-repeat: no-repeat;
}