.contacts {
    border-radius: 30px;
    background: #191c19;
}

.contacts__container {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.contacts__text-wrapper {
    margin-bottom: 71px;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contacts__text {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
}

.contacts__link {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
}

.contacts__link:hover {
    color: #1bff07;
}

.contacts__image {
    border-radius: 30px;
}