.head__container {
    margin-top: 33px;
}

.head__wrapper {
    position: relative;
    display: inline-block;
    background-image: url(../resources/head/logo.png);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 39px;


}

.head__wrapper-logo {
    position: absolute;
    left: 10px;



    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 42.4138px;
    letter-spacing: -0.11em;
    line-height: 39px;
    text-decoration: none;
    color: #1BFF07;
}

.head__list {
    float: right;
}

.head__list-link {
    margin-right: 41px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-transform: lowercase;
    text-decoration: none;

    color: #FFFFFF;
}

.head__list-link:hover {
    color: #1BFF07;
}

.head__list-link:last-child {
    margin-right: 0;
}

.head {
    padding-top: 32px;
    /* margin-bottom: -104px; */

}