.head {
    position: relative;
    background-image: url(../resources/head/programmer-three.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 765px;
}

.head::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.head__container {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

.head__wrapper {
    position: relative;
    display: inline-block;
    background-image: url(../resources/head/logo.png);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 39px;


}

.head__wrapper-logo {
    position: absolute;
    left: 10px;



    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 42.4138px;
    letter-spacing: -0.11em;
    line-height: 39px;
    text-decoration: none;
    color: #1BFF07;
}

.head__list {
    position: relative;
    display: flex;
    gap: 51px;
}

.head__list-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-transform: lowercase;
    text-decoration: none;

    color: #FFFFFF;
}

.head__list-link:hover {
    color: #1BFF07;
}

.head__list-link:last-child {
    margin-right: 0;
}

.head {
    padding-top: 32px;
}