@import url(../styles/head.css);
@import url(../styles/welcome.css);
@import url(../styles/projects.css);
@import url(../styles/competencies.css);
@import url(../styles/services.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'IBM Plex Mono';
    background-color: black;

}

a {
    transition: 0.5s;
}

.container {
    margin: 0 auto;
    width: 1400px;
    padding: 0 125px;
    color: white;
}

section {
    margin-bottom: 150px;
}

.footer {
    margin-bottom: 0;
}

* {
    letter-spacing: -0.03em;
}

.title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
}

.competencies__title {
    margin-bottom: 48px;
}

.services__title {
    margin-bottom: 74px;
    width: 403px;
    font-size: 35px;
    line-height: 46px;
}