.welcome__list-text {
    padding-bottom: 29px;
    height: 103px;
}

.welcome__text-title {
    margin-top: 29px;
    width: 960px;
    height: 205px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    color: #1BFF07;
}

.welcome__text-info {
    width: 430px;
    height: 103px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

.welcome__list {
    position: absolute;
    top: 334px;
}
