.welcome {
    margin-top: -73px;
}

.container__welcome {
    background-image: url(../resources/head/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    max-width: 1400px;
    height: 765px;
}

.welcome__list-text {
    padding-bottom: 29px;
    height: 103px;
}

.welcome__text-header {
    margin-top: 29px;
    width: 919px;
    height: 205px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    color: #1BFF07;
}

.welcome__text-info {
    width: 430px;
    height: 103px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

.welcome__list {
    position: absolute;
    top: 334px;
}
